#slider {
    width: 512px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
    padding: 40px;
    font-family: 'Dancing Script', cursive;
}

#slider .photos {
    position: relative;
    width: 100%;
    margin: 0 auto;
    min-height: 400px;
}

#slider .photos img {
    position: absolute;
    left: 0;
    max-width: 100%;
    max-height: 100%;
    transition: 1s;
    opacity: 0;
}

#slider .buttons {
    color: white;
    font-size: 28px;
    font-weight: bold;
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#slider .buttons .prev,
#slider .buttons .next {
    border: 1px solid white;
    width: 50%;
    text-align: center;
    padding: 10px 5px;
    transition: 0.4s;
}

#slider .buttons .prev:hover,
#slider .buttons .next:hover {
    opacity: 0.6;
    background-color: rgb(228, 228, 228);
    cursor: pointer;
}

#slider .photos .current {
    opacity: 1;
}